
.pie  { grid-area: pie;
background-color: rgb(205, 166, 241);
display:inline-block;
flex-direction: column; 
justify-content: center;
text-align: center;
padding: 5px;
 }
.principal {grid-area: principal;
justify-content: center;
display: flex;}
.filtros {grid-area: filtros;
background-color: #A027A8;
display: flex;
flex-direction: row;
justify-content: center;
padding: 10px;
font-family: lato;
color: rgb(255, 255, 255);}
.barraNav {grid-area: navegacion; 
background-color: rgb(205, 166, 241);
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 10px;
font-family: lato;
}




.grid {display: grid ;
  grid-template-areas: 
  "navegacion"
  "filtros"
  "principal"
  "pie";
}

.gridprincipal{display: grid;
  grid-template-columns: 1fr;
  gap: 8px;}

.inicio {display: none;}
.contacto {display: none;}
.preguntas {display: none;}

@media (min-width: 576px) {
  .inicio {display: inline;}
  .contacto {display: inline;}
  .preguntas {display: inline;}
  #icono {display: none;}
  .grid {grid-template-areas:
    "navegacion filtros "
    "pie principal" ;
  grid-template-columns: 2fr 9fr;}

  .barraNav {
    flex-direction: column;
  
  }
    .gridprincipal{grid-template-columns: 1fr 1fr 1fr 1fr;}



}


    .card {display: flex;
    flex-direction: column;
  width: 350px;
height: 430px;
border-radius: 5px;
border: 1px solid black;
justify-content: center;
align-items: center;
background-color:#F1F0F5;}

.card img {
  width: 280px;
height: 280px;
border-radius: 8%; 
padding: 10px;
filter: drop-shadow(30 px 10 px 4px #AC01FF)
;border-radius: 0%;
transform: scale(1);
transition: all 1s ease;
}

.card img:hover {filter: drop-shadow(0 -3mm 4mm #AC01FF);
border-radius: 10%;
transform: scale(1.5);}

button {
  background-color: #8C4D86; 
  border: none; 
  border-radius: 5px;
  color: rgb(255, 255, 255); 
  padding: 10px 10px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 10px; 
  margin: 4px 2px; 
  cursor: pointer; 
  width: 100%;
  font-family: lato;

}

button:hover { background-color: #A027A8}

.card p {
  margin: 15px 0; 
  text-align: center;
  font-family: montserrat;
  font-size: 13px;

}

.paginacion {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.paginacion a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #f2f2f2;
  color: #8C4D86;
  text-decoration: none;
  border-radius: 4px;
}

.pagina-activa {
 color: #fff;
 
}



.pie { display: flex;
  grid-template-rows: 60px 1fr 40px;
font-family: lato;}

  .fa-brandsfa-square-instagram {display:flex;
  justify-content: space-around;
  margin-right: 10px}